<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1> <%= @user.first_name %> Bienvenido a B52 Days</h1>
    <p>
      Has solicitado exitosamente tu clase de cortesía.</b>.<br>
    </p>
    <p>
      Te contactaremos al número: <b><%= @user.phone %></b> para agendar tu clase.<br>
    </p>
    <p>Gracias por registrarte.</p>
  </body>
</html>
